<div class="wine__card" [ngClass]="{'wine__card--notOnSale': !wine.isOnSale}">
  <img src="{{wine.imageUrl}}" alt="" class="wine__image"/>
  <h2 class="wine__title">{{wine.title | uppercase}}</h2>
  <div *ngIf='!wine.isOnSale' class="wine__notOnSale">
    <p>not on sale</p>
  </div>
  <div class="wine__origin">
    <p>{{wine.year}} - {{wine.grapes}}</p>
    <p>{{wine.country}} - <a class="link__discrete" [href]="wineRegionMapLink">{{wine.region}}</a></p>
  </div>
  <p class="wine__motto">{{wine.description}}</p>
  <p>Better served with: </p>
  <div *ngFor="let food of wine.foodMatch; index as i" class="wine__matching.food">
    <p class="wine__foodMatch">{{food.name}}</p>
    <p class="wine__details">[{{food.kcal + 'kcal, vegan: ' + food.vegan + ', gluten: ' + food.gluten}}]</p>
  </div>
  <div class="wine__price">
    <p><span class="wine__price_unit"><strong>{{wine.price | currency:'EUR':'symbol':'1.2-2' }}</strong> ud.  |  total </span>
      {{totalAmount | currency:'EUR':'symbol':'1.2-2' }}
    </p>
  </div>
  <div class="wine__quantity">
    <button *ngIf="quantityInChart > 0" (click)="decreaseAmount()" [disabled]='quantityInChart === 0 || wine.isOnSale === false'>-</button>
    <select name="quantitySelector" [(ngModel)]="quantityInChart" (ngModelChange)="updateQuantity($event)">
      <option [ngValue]="quantity" *ngFor="let quantity of quantitySelector">{{quantity}}</option>
    </select>
    <button (click)="increaseAmount()" [disabled]='wine.isOnSale === false'>+</button>
  </div>
</div>